<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<!--<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">-->

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        <style type="text/css">
            #get_current {
            }
        </style>

    </head>


	<body>
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="{{ url_for('index') }}"  class="branding">
						<img src= "{{ url_for('static', filename='icons/logo.png') }}" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Weather App</h1>
							<small class="site-description">by Itaru Kishikawa</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="{{ url_for('index') }}" >Home</a></li>
							<li class="menu-item"><a href="https://www.linkedin.com/in/itaru-kishikawa/">Linked In</a></li>
							<li class="menu-item"><a href="https://github.com/Itaru7/python_projects/tree/master/flask">Github</a></li>
							<li class="menu-item"><a href="{{ url_for('contact') }}">Contact</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<div class="hero" style="background-image: url('static/background_img/{{ background }}.jpg')">
				<div class="container">
                    <form action="/info" class="find-location" method="POST" name="location">
						<input type="text" placeholder="Find your location..." name="location">
						<input type="submit" value="Find">
					</form>
                    <a href="{{ url_for('index') }}" class="center">Current Location</a>

				</div>
			</div>
			<div class="forecast-table" id="get_current">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<!--<div class="day">Monday</div>-->
								<div class="date">{{ forecast.date['0'] - 1 }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
                                    <div class="location">{{ current.name }}, {{ current.sys.country }}</div>
								<div class="degree">
									<div class="num">{{ current.main.temp }}<sup>o</sup>C</div>
									<div class="forecast-icon">
										<img src={{ url_for('static', filename='icons/'+background+'.svg') }} alt="" width=75>
									</div>	
								</div>
								<!--<span><img src="images/icon-umberella.png" alt="">20%</span>-->
								<!--<span><img src="images/icon-wind.png" alt="">{{ current.wind.speed }}km/h</span>-->
								<!--<span><img src="images/icon-compass.png" alt="">East</span>-->
							</div>
						</div>
                        <div class="forecast">
							<div class="forecast-header">
								<div class="day">{{ forecast.date['0'] }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src={{ url_for('static', filename='icons/'+forecast.weather['0']) }} alt="" width=48>
								</div>
								<div class="degree">{{ forecast.temp['0'] }}<sup>o</sup>C</div>
								<div><small>{{ forecast.temp_max['0'] }}<sup>o</sup></small></div>
                                <small>{{ forecast.temp_min['0'] }}<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">{{ forecast.date['1'] }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src={{ url_for('static', filename='icons/'+forecast.weather['1']) }} alt="" width=48>
								</div>
								<div class="degree">{{ forecast.temp['1'] }}<sup>o</sup>C</div>
								<div><small>{{ forecast.temp_max['1'] }}<sup>o</sup></small></div>
                                <small>{{ forecast.temp_min['1'] }}<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">{{ forecast.date['2'] }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src={{ url_for('static', filename='icons/'+forecast.weather['2']) }} alt="" width=48>
								</div>
								<div class="degree">{{ forecast.temp['2'] }}<sup>o</sup>C</div>
								<div><small>{{ forecast.temp_max['2'] }}<sup>o</sup></small></div>
                                <small>{{ forecast.temp_min['2'] }}<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">{{ forecast.date['3'] }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src={{ url_for('static', filename='icons/'+forecast.weather['3']) }} alt="" width=48>
								</div>
								<div class="degree">{{ forecast.temp['3'] }}<sup>o</sup>C</div>
								<div><small>{{ forecast.temp_max['3'] }}<sup>o</sup></small></div>
                                <small>{{ forecast.temp_min['3'] }}<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">{{ forecast.date['4'] }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src={{ url_for('static', filename='icons/'+forecast.weather['4']) }} alt="" width=48>
								</div>
								<div class="degree">{{ forecast.temp['4'] }}<sup>o</sup>C</div>
								<div><small>{{ forecast.temp_max['4'] }}<sup>o</sup></small></div>
                                <small>{{ forecast.temp_min['4'] }}<sup>o</sup></small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<main class="main-content">
				<div class="fullwidth-block" style="width: 810px;">
                        <canvas id="bar-chart"></canvas>
				</div>
            </main>
            <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
						<div class="col-md-3 col-md-offset-1" style="float: right; margin-right: 8.33333%">
							<div class="social-links">
                                <a href="https://www.linkedin.com/in/itaru-kishikawa/"><i class="fa fa-facebook"><img src="{{ url_for('static', filename='icons/linkedin.svg') }}" style="width: 40px"></i></a>
								<a href="https://github.com/Itaru7/python_projects/tree/master/flask" style="margin-left: 10px"><i class="fa fa-twitter"><img src="{{ url_for('static', filename='icons/github.svg') }}" style="width: 40px"></i></a>
							</div>
						</div>

					<p class="colophon" style="margin-left: 8.33333333%;">Created by Itaru Kishikawa</p>
				</div>
			</footer> <!-- .site-footer -->
		</div>

        <script>
            var ctx = document.getElementById("bar-chart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{{ forecast.date['0'] }}, {{ forecast.date['1'] }}, {{ forecast.date['2'] }}, {{ forecast.date['3'] }}, {{ forecast.date['4'] }}],
                    datasets: [{
                        label: 'C˚',
                        data: [{{ forecast.temp['0'] }}, {{ forecast.temp['1'] }}, {{ forecast.temp['2'] }}, {{ forecast.temp['3'] }}, {{ forecast.temp['4'] }}, {{ forecast.temp['5'] }}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                borderWidth: 1
            }]
        },
        options: {
            title:{
                display: true,
                text:'Temperature in {{ current.name }}, {{ current.sys.country }}',
                fontSize: 15
            },
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                    },
                    scaleLabel:{
                        display: true,
                        labelString: 'Temperature in C˚',
                        fontSize: 17,
                    }
                }],
                xAxes: [{
                  scaleLabel: {
                      display: true,
                      labelString: 'Date',
                      fontSize:17
                  }
                }],
            }
        }
    });
        </script>
    <script>
        var x =document.getElementById('get_current');

        function get_location(){
            if(navigator.geolocation){
                navigator.geolocation.getCurrentPosition(showLocation)
            }
            else{
                console.log("Browser not supporting")
            }
        }

        function showLocation(pos){
            console.log(pos.coords.latitude);
            console.log(pos.coords.longitude);
        }
    </script>
	</body>
</html>