appnope==0.1.0
asn1crypto==0.24.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
blinker==1.4
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.2.2
cycler==0.10.0
decorator==4.2.1
enum34==1.1.6
Flask==0.12.2
Flask-Mail==0.9.1
get==0.0.39
gunicorn==19.7.1
idna==2.6
ipaddress==1.0.19
ipykernel==4.8.1
ipython==5.5.0
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jupyter-client==5.2.2
jupyter-core==4.4.0
MarkupSafe==1.0
matplotlib==2.1.2
numpy==1.14.1
ordereddict==1.1
panda==0.3.1
pandas==0.22.0
pathlib==1.0.1
pathlib2==2.3.0
pexpect==4.4.0
pickleshare==0.7.4
pipenv==11.9.0
post==0.0.26
prompt-toolkit==1.0.15
ptyprocess==0.5.2
public==0.0.65
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
pyzmq==17.0.0
query-string==0.0.28
request==0.0.26
requests==2.18.4
scandir==1.7
scipy==1.0.0
seaborn==0.8.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.2.7
tornado==4.5.3
traitlets==4.3.2
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
Werkzeug==0.14.1
